# Rooting prevention
#
# CONFIG_SEC_RESTRICT_ROOTING=y
# CONFIG_SEC_RESTRICT_SETUID=y
# CONFIG_SEC_RESTRICT_FORK=y
# CONFIG_SEC_RESTRICT_ROOTING_LOG=y

# CONFIG_RKP_KDP is not set

# streamline
CONFIG_PROFILING=y
CONFIG_PERF_EVENTS=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_HW_PERF_EVENTS=y
CONFIG_LOCAL_TIMERS=y

CONFIG_GATOR=y
