#
# Kernel Performance Events and Counters
#
CONFIG_SLUB_DEBUG=y

#
# printk and dmesg options
#
CONFIG_DYNAMIC_DEBUG=y
# CONFIG_PAGE_OWNER is not set

# Memory Debugging
#
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_DEBUG_OBJECTS_WORK=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_DEBUG_OBJECTS_PERCPU_COUNTER=y
CONFIG_SLUB_DEBUG_ON=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_EARLY_LOG_SIZE=8000
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_MEMORY_INIT=y

#
# Debug Lockups and Hangs
#
CONFIG_SCHEDSTATS=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_TIMER_STATS=y
CONFIG_DEBUG_PREEMPT=y

#
# Lock Debugging (spinlocks, mutexes, etc...)
#
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_PROVE_LOCKING=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_LIST=y
CONFIG_DEBUG_PI_LIST=y
CONFIG_DEBUG_SG=y

#
# DS5 enable setup
#
# CONFIG_HW_PERF_EVENTS=y
# CONFIG_MALI_GATOR_SUPPORT=y
# CONFIG_GATOR_WITH_MALI_SUPPORT=y
# CONFIG_GATOR_MALI_MIDGARD=y
# CONFIG_GATOR=y

#
# Runtime Testing
#
CONFIG_LKDTM=y
CONFIG_ATOMIC64_SELFTEST=y
#CONFIG_DEBUG_RODATA is not set

#
# Memory Watcher & MMIO Trace
#
# CONFIG_SEC_MMIOTRACE is not set
# CONFIG_SEC_KWATCHER=y

#
# Support T32 onchip breakpoint
#
CONFIG_SKIP_HW_BREAKPOINT=y

#
# GPIO DVS
#
CONFIG_SEC_GPIO_DVS=y

# SENSORHUB Debug
CONFIG_SSP_ENG_DEBUG=y

#
# WIFI Debugging
#
CONFIG_SCSC_MMAP=y
CONFIG_SCSC_DBG_SAMPLER=y
CONFIG_SCSC_DEBUG=y
CONFIG_SCSC_DEBUG_COMPATIBILITY=y
CONFIG_SCSC_STATIC_RING=y
CONFIG_SCSC_STATIC_RING_SIZE=4194304
CONFIG_SCSC_CHV_SUPPORT=y
CONFIG_SCSC_GPR4_CON_DEBUG=y
CONFIG_SCSC_WLAN_HIP4_PROFILING=y
CONFIG_SCSC_WLAN_DEBUG=y
CONFIG_SCSC_WLAN_MUTEX_DEBUG=y
CONFIG_SCSC_WLAN_HANG_TEST=y
CONFIG_SCSC_CLK20MHZ_TEST=Y
CONFIG_SCSC_BUILD_TYPE="Engineering"

# Security
# CONFIG_TIMA_LKMAUTH is not set
# CONFIG_TIMA_LKM_BLOCK is not set

#
# USB Debugging
#
CONFIG_PHY_EXYNOS_DEBUGFS=y

#
# Battery driver
#
CONFIG_ENG_BATTERY_CONCEPT=y

# Support S.LSI debugging framework
CONFIG_EPX=y

#
# DO NOT REMOVE THE LAST BLANK LINE
#

